.wrapper{
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.button {
  background-color: #0987f2;;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: 10px 10px 10px 10px;
}
button:hover {
  transform: scale(1.05);
}

button:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.container{
  z-index: 5;
  position: absolute;
  background-color: #fff;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  margin: 10px 10px 10px 10px;
  p{
    color: black;
  }
}